* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Cinzel', serif;
}
 
body {
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
}
 
header {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    font-size: 32px;
}
 
h1 {
    color: #f2cdad86;
    text-shadow: 4px 2px 6px #16130ddf;
    text-align: center;
}
 
#searchForm {
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr 1fr;
    max-width: 80%;
    margin: auto;
    outline: none;  
}
 
label {
    display: none;
}
 
#searchInput,
#colorSelect {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Cinzel', serif;
    font-weight: bold;  
}
 
#colorSelect{
    cursor: pointer;
}
 
button {
    padding: 10px;
    background-color: rgba(70, 61, 37, 0.415);
    color: #fff;
    cursor: pointer;
    border:1px solid #0000001b;
    border-radius: 2px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    transition: background-color 0.3s,
    transform 0.40s ease-in-out; ;
}
 
button:hover {
    background-color: hsla(44, 31%, 21%, 0.3);
    transform: scale(1.03);
}
 
#imageContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
}
 
img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.577);
    transition: transform 0.40s ease-in-out;
}
img:hover {
    transform: scale(1.03);
}
 
.image-details {
    background-color: rgba(26, 26, 26, 0.279);
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition:
    box-shadow 0.4s ease-in-out,
    background-color 0.4s ease,
    font-size 0.3s ease;
}
 
.image-details:hover{  
    box-shadow: 0 0 2px rgba(55, 55, 55, 0.259);
    background-color: rgba(140, 140, 140, 0.049);
    font-size: 15.5px;
}
 
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}
 
#nextButton,
#prevButton {
    display: none;
    padding: 10px;
    background-color: rgba(70, 61, 37, 0.562);
    color: #fff;
    border: none;
    border:1px solid #0000001b;
    border-radius: 2px;
    font-family: 'Cinzel', serif;
    transition: background-color 0.3s,transform 0.40s ease-in-out; ;
}
 
#nextButton:hover,
#prevButton:hover {
    background-color: hsla(44, 31%, 21%, 0.3);
    transform: scale(1.03);
}
 
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: bottom;
    bottom: 0;
    width: 100%;
    gap: 5px;
    padding-bottom: 10px;
}
 
.bottom-line-left,
.bottom-line-right {
    height: 1px; 
    background-color: white; 
}
 
.bottom-line-left{
    margin-left: 20px;
}
 
.bottom-line-right{
    margin-right: 20px;
   
}
 
.footer-p1{
    text-align: center;
}
.footer-p2{
   grid-column: 2;
   text-align: center;
}
 
 
@media (max-width: 1300px) {
    #imageContainer {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
 
@media (max-width: 1046px) {
 
    #imageContainer {
        grid-template-columns: repeat(2, 1fr);
 
    }
}
 
img {
    width: 100%;
}
 
@media (max-width: 600px) {
    #imageContainer {
        grid-template-columns: 1fr;
    }
 
    #searchForm{
        grid-template-columns: 1fr;
    }
}