* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Cinzel', serif;
}

body {
    background-image: url('image.jpg');
    background-size: cover;
    /* Sätt bakgrundsbilden för att täcka hela fönstret */
    background-position: center;
}

header {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    font-size: 32px;
}

h1 {
    color: #fffcba;
    text-shadow: 1px 2px 4px #3f3726;
    font-family: 'Dancing Script', cursive;    
    text-align: center;
}

.search-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr 1fr;
    max-width: 80%;
    margin: auto;
    outline: none;   
}

#searchInput,
#colorSelect {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: rgba(70, 61, 37, 0.562);
    color: #fff;
    border: none;
    cursor: pointer;
    border:1px solid #0000001b;
    border-radius: 2px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    transition: background-color 0.3s,transform 0.40s ease-in-out; ;
}

button:hover {
    background-color: hsla(44, 31%, 21%, 0.3);
    transform: scale(1.03);

}

#imageContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 10px;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
}

img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.577);
    transition: transform 0.40s ease-in-out; 
}
img:hover {
    transform: scale(1.03);
}

.image-details {
    background-color: rgba(255, 255, 255, 0.114);
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out; 
}

#image-item{
    margin-left: auto;
    margin-right: auto; 
}
.image-details:hover{   
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.353);
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

#nextButton,
#prevButton {
    display: none;
    padding: 10px;
    background-color: rgba(70, 61, 37, 0.562);
    color: #fff;
    border: none;
    border:1px solid #0000001b;
    border-radius: 2px;
    font-family: 'Cinzel', serif;
    transition: background-color 0.3s,transform 0.40s ease-in-out; ;
}

#nextButton:hover,
#prevButton:hover {
    background-color: hsla(44, 31%, 21%, 0.3);
    transform: scale(1.03);
}

@media (max-width: 1300px) {
    #imageContainer {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1046px) {

    #imageContainer {
        grid-template-columns: repeat(2, 1fr);

    }
}

img {
    width: 100%;
}

@media (max-width: 600px) {
    #imageContainer {
        grid-template-columns: 1fr;
    }
    .search-container{
        grid-template-columns: 1fr;
    }
}